node_modules/**
graphify-out/**
*.vsix
ISSUES.md
ROADMAP.md
.vscode/**
.vscode-test/**
src/**
!src/webview/assets/**
bin/**
.deprecated-tracker-baseline.json
tests/**
config/**
scripts/**
coverage/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
out/**
!out/extension.js
!out/src/webview/assets/**
